<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Location Details</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
     integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
     crossorigin="">
</head>
<body>
<h4>Temperature for this location- {{temperature}}</h4>
<h4>Humidity for this location- {{humidity}}</h4><br>

<div id="map" style="width: 600px; height: 400px;"></div>

</body>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
     integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
     crossorigin=""></script>
<script>
    var map = L.map('map').setView([{{latitude}}, {{longitude}}], 12);
    L.tileLayer('https://tile.openstreetmap.be/osmbe/{z}/{x}/{y}.png', {
     attribution:
         '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors' +
         ', Tiles courtesy of <a href="https://geo6.be/">GEO-6</a>',
     maxZoom: 18
 }).addTo(map);
 var marker = L.marker([{{latitude}}, {{longitude}}]).addTo(map);
 var popup = marker.bindPopup('<b>Hey There!</b><br />See this location.');
 popup.openPopup();
</script>
</html>